p {
    font-size: 12px;
}

a {
    color: red;
}

titrearticle {
    color: darkcyan;
}

divarticle {
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    border-radius: 5px;
    padding: 5px;
    direction: column;
    align-items: start;
}

titrepageo {
    font-family: Times New Roman;
}

credit {
    border-style: solid;
    border-width: 2px;
    border-color: antiquewhite;
    border-radius: 15px;
    padding: 5px;
    direction: column;
    align-items: center;
}

txtcred {
    font-size: 8px;
}